@model IEnumerable<Address>

<h2>會員註冊</h2>
<form id="UserInfo">
    @* <div id="addressSelect">
    <div class="mb-3">
    <select class="" onchange="btnClick(event)">
    <option value="1" selected>請選擇..</option>
    @foreach(var item in Model.Select(Address => Address.City).Distinct()) {
    <option value="@Html.Raw(item)">@Html.Raw(item)</option>
    }
    </select>
    </div>
    <div class="mb-3">
    <select class="" onchange="siteChange(event)" id="siteid">
    <option selected>請先選擇城市</option>
    </select>
    </div>
    <div class="mb-3">
    <select class="" id="road" onchange="textAddress(event)">
    <option selected>請先選擇鄉鎮區</option>
    </select>
    </div>
    <div class="mb-3 w-50">
    <input placeholder="選擇路段後輸入詳細地址"
    class="text form-control-plaintext border border-primary" id="address" />
    </div>
    </div> *@
    <div class="form-floating mb-3 w-25">
        <input type="text" class="form-control" id="UserName" name="Name" placeholder="姓名">
        <label class="text-secondary" for="UserName">姓名</label>
    </div>
    <div class="form-floating mb-3 w-25">
        <input type="password" class="form-control" id="Password" name="Password" placeholder="密碼">
        <label class="text-secondary" for="Password">密碼</label>
    </div>
    <div class="form-floating mb-3 w-25">
        <input type="email" class="form-control" id="Email" name="Email" placeholder="name@example.com">
        <label class="text-secondary" for="Email">Email</label>
    </div>
    <div class="form-floating mb-3 w-25">
        <input type="number" class="form-control" id="Age" name="Age" placeholder="年齡">
        <label class="text-secondary" for="Age">年齡</label>
    </div>
    <div class="mb-3 w-25">
        <img class="img-thumbnail" id="img1"/>
        <br />
        <input onchange="ImgUpload(event)" type="file" name="UserPhoto">
    </div>
</form>
<button onclick="submitInfo()">提交</button>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        const siteid = document.querySelector('#siteid')
        const address = document.querySelector('#address')
        //重新選擇城市的時候必須全空
        async function btnClick(event) {

            address.value = ''  //每次CITY變動都清空INPUT
            siteid.innerHTML = '<option value="1" selected>請選擇...</option>' //鄉鎮區回預設
            road.innerHTML = '<option value="1" selected>請先選擇鄉鎮區</option>' //路也一樣

            if (event.target.value === '1')  //如果city選預設值就不傳送要求
                return

            const api = `@Url.Content("~/home/siteid/")${event.target.value}`
            await addressInfo(api, siteid);

            // for (let i = 0; i < data.length; i++) {
            //     siteid.insertAdjacentHTML('beforeend',
            // `<option value="${data[i]}">${data[i]}</option>`)
            // }
        }

        const road = document.querySelector('#road')

        //重新選擇鄉鎮區時需等於城市加新鄉鎮區
        async function siteChange(event) {
            road.innerHTML = '<option value="1" selected>請選擇鄉鎮區</option>' //換了區就把路調回預設
            address.value = ''

            if (event.target.value === '1') //區選預設就不傳要求
                return

            const api = `@Url.Content("~/home/Road/")${event.target.value}`
            addressInfo(api, road)

            // const response = await fetch(api)
            // const data = await response.json()
            // data.forEach(item =>
            //     road.insertAdjacentHTML('beforeend', `<option value="${item}">${item}</option>`))
        }

        //將地址自動填入input
        async function textAddress() {
            if (event.target.value === '1')  //路是預設就不填入地址
                return

            const allValue = Array.from(document.querySelectorAll('#addressSelect select'))
                .map((select) => select.value)//將全部下拉選單的值填入input
            address.value = allValue.join('')
        }

        async function addressInfo(api, site) {
            try {

                const response = await fetch(api);
                if (!response.ok) {
                    console.error('Api請求失敗: ', response.statusText)
                    return;
                }
                const data = await response.json();
                data.forEach(item =>
                    site.insertAdjacentHTML('beforeend',
                        `<option value="${item}">${item}</option>`
                    ));
            } catch (error) {
                console.error('處理API時發生錯誤: ', error)
            }
        }

        const UserInfo = document.querySelector('#UserInfo')

        async function submitInfo() {
            try {
                const formData = new FormData(UserInfo)
                const api = `@Url.Content("~/home/register/")`
                const response = await fetch(api, {
                    method: 'POST',
                    body: formData
                })

                if (!response.ok) {
                    const errorData = await response.json();
                    console.error('錯誤詳細信息:', errorData);
                    return;
                }

                const data = await response.json()
                alert(data)

            } catch (error) {
                alert(error.message)
            }
        }
        const img1 = document.querySelector('#img1')
        async function ImgUpload(event) {

            const selectFile = event.target.files[0]
            const imageType = /image.*/

            if (!selectFile.type.match(imageType) || selectFile.length === 0) {
                event.target.value = ''
                alert('請選擇圖片')
                img1.src = ''
                return
            }

            const reader = new FileReader()

            reader.readAsDataURL(selectFile)
            reader.addEventListener('load', () => {
                img1.src = reader.result
            })
        }
    </script>
    <script>
        // const aborter = new AbortController()
        // const dad = aborter.signal
        // function btnClick(Event) {
        //     fetch(`/Home/Siteid/${Event.target.innerHTML}`, { signal: dad }) // 發送 HTTP GET 請求
        //         .then(response => response.text())
        //         .then(data => {
        //             context1.innerHTML = data
        //             Event.target.setAttribute('disabled', 'disabled')
        //         })
        //         .catch(error => {
        //             alert('錯誤發生: ' + error);
        //         });
        // }
        // aborter.abort()

    
        // setTimeout(() => {
        //     console.log('a');
        //     setTimeout(() => {
        //         console.log('b')
        //         setTimeout(() => console.log('c'), 1000)
        //     }, 2000)
        // }, 3000)

        // setTimeout(() => console.log('a'), 3000)
        // setTimeout(() => console.log('b'), 2000)
        // setTimeout(() => console.log('c'), 1000)
        // function doSomething(callback) {
        //     setTimeout(() => {
        //         console.log('Done');
        //         callback();
        //     }, 1000);
        // }

        // doSomething(() => {
        //     console.log('Next step');
        // });
        // (async () => {
        //     const Api = `@Url.Content("~/Home/Siteid")`
        //     const response = await fetch(Api)
        //     response.headers.forEach((value, name, array) => {
        //         console.log(`${name}: ${value}`)
        //         console.log(array)
        //     })
        // })()

        // async function cookingAndWashing() { //請不要閒下來
        //     return new Promise(washing => setTimeout(() => { //Promise初始化可以放兩個參數 預設要執行跟例外狀況執行的方法
        //         console.log('吐司考完了'); // 先烤土司 假設吐司要烤五分鐘
        //         washing() // 吐司開始烤就先去刷牙洗臉
        //     }, 5000)) //吐司要烤五分鐘
        // }



        // async function morning() {
        //     console.log('開始烤吐司')
        //     const wash = cookingAndWashing()
        //     console.log('開始刷牙')
        //     await wash //因為非同步等待 所以這裡會開始刷牙 吐司烤好 牙也就刷好了
        //     console.log('刷完牙了');
        // }

        // morning(); //早上起床準備事項
    </script>
}